body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  background: #E6E6FA;
}

@media only screen and (max-width: 665px) {
  .MainPage-body{
      flex-direction: column-reverse;
      width: 100%;
  }
  .side-container{
      flex-direction: row;
      width: auto;
  }
  .circularProgress{
      width: 100px !important;
      height: 100px !important;
  }
  .main-container{
      width: auto;
  }
    }
